/* pallette:
#223843 (gunmetal)
#eff1f2 (white)
#dbd3d8 (timberwolf)
#7f636e (rose)
#5b8266 (green)
#596475 (GRAY)
#8D94BA (COOL GRAY)
*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #dbd3d8 ;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  margin: 2vw;  
  color: black;
  font-size: 25px;
}

.nav-list a{
  color: #5b8266;
}

.nav-list li{
  text-decoration: none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8D94BA;
  border-radius: 20px;
  box-sizing: border-box;
  height: 28vw;
  padding: 15px;
  width: 320px;
  margin-right: 0;
}

.input{
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  align-items: center;
  height: 50px;
  position: relative;
  width: 100%;
  padding: 5px;
  
}

.input input{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 25px;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

}

.submit, .button{
  background-color: #5b8266;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height:7vh;
  margin-top: 4vh;
  outline: 0;
  text-align: center;
  width: 60%;
}

.homebtn{
  color: #5b8266;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 10vh;
  text-align: right;
}

.submit:hover, .button:hover, .edit:hover{
  background-color: #eff1f2;
  color: #5b8266;
}

.formtext{
  color: 223843;
  padding: 5px;
  margin-top: 10px;
}

.greet{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.whole-bar{
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.whole-bar .progress{
  border-radius: 10px;
  width: 25%;
  height: 20px;
  background-color: #5b8266;
}

a{
  text-decoration: none;
  color:#5b8266;
}

.dash{
  display: hidden;
}

.user{
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name, .amt{
  font-size: 20px;
  color: green;
}

.acct-layout{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.accts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5vw;
  align-items: flex-start;
  height: 100%;
  gap: 3vw
}

.chart-title{
  margin-bottom: 0;
}

.edit{
  text-decoration: none;
}

details > summary {
  list-style: none;
  align-self: center;
  margin-top:0;
}
details > summary::-webkit-details-marker {
  display: none;
}

.accttracker{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit{
  color: #5b8266;
  height: 7vh;
  border-radius: 12px;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.update form{
  width: 100%;
  height: 40vh;
}

.update form input{
  margin-bottom: 1px;
}

.accttracker .button{
  width: 70%;
}

.new{
  color: #5b8266;
  height: 7vh;
  border-radius: 12px;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.new summary{
  margin-top: 1.33em;
}